@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to bottom, #0A5F9C, #a2c4e9);
    }

    section#login{
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
        
    }

    div#formulario > p{
        font-size: 16px;
    }
}

@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(to bottom, #0A5F9C, #a2c4e9);
    }
    
    section#login{
        width: 990px;
        height: 300px;
    }

    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 50%;
        
    }

    div#formulario > p{
        font-size: 18px;
    }
}